.headerContainer {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, .6);
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)); */
  backdrop-filter: blur(3px);
  text-align: center;
  z-index: 1;
  /* border-bottom: solid 2px rgb(89, 89, 89); */
}

.logoContainer {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('/images/texture.jpeg') no-repeat center / cover;
  background-clip: text;
  color: transparent;
  font-family: Montserrat;
  font-size: 5rem;
  margin: auto;
  text-align: center;
  -webkit-text-stroke: 2px white; /* Add a 2px black border around text */

}
/* for the tiktok text */
.tikTokTitle {
  font-family: Montserrat;
  font-size: 5rem;
  font-weight: bold;
  width: max-content;
  margin: auto;
  text-align: center;
}
.specialLetter {
  color: black; /* Or any color you want for the text itself */
  text-shadow: 4px 0 rgb(252, 43, 103), -4px 0 rgb(95, 255, 255);
}
/* for the header image */
.headerPhoto {
  position: absolute;
  margin-top: .5rem;
  width: 800px;
}
.navContainer {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin: .5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navContainer a {
  text-decoration: none;
}
.navContainer a:focus {
  outline: none;
}
.navContainer h2 {
  margin: 0rem 2rem .75rem 2rem;
  font-family: Louis George Cafe;
  color: rgb(0, 91, 148);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1);
  transition: transform .3s ease-in-out;
}
.navContainer h2:hover {
  transform: scale(1.2);
  cursor: pointer;
  text-decoration: underline;
}

.navContainer h2:focus {
  outline: none;
  border: none;
}

.graphicWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90%;
  font-family: Montserrat;
  font-size: 2rem;
  /* border: solid rgb(0, 0, 0) 4px; */
  overflow: hidden;
  transform: skew(-18deg) translate(-50%, -50%);

}
.blueShard {
  background: linear-gradient(to bottom, rgb(14, 176, 221), rgb(2, 51, 143));
  width: 100px;
  height: 90%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 2px white;

}
.redShard {
  background: linear-gradient(to bottom, rgb(255, 47, 89), rgb(255, 16, 56));
  -webkit-text-stroke: 2px white;
  width: 100px;
  height: 90%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem 0 .5rem;
}
.transparentShard {
  width: 100px;
  height: 100%;
  margin: 0;
}
.shardLetter {
  color: transparent;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  background-image: url('/images/texture.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 2px white;
}


@media (max-width: 768px) {
  .headerContainer {
    /* box-sizing: border-box; */
    position: fixed;
    margin: 0;
    top:0;
    left: 0;
    width: 100vw;
    height:150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    z-index: 1;
    border-bottom: solid 1px rgb(134, 134, 134);

  }
  .headerContainer h1 {
    font-size: 2.5rem;
  }
  .logoContainer {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: none;
  }
  .navContainer {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center !important;
    top: 50px;
    left: 0;
    flex-direction: row;
    width: 100vw !important;
    min-width: 0;
    /* border: solid red 4px; */
  }
  .navContainer h2 {
    font-family: Louis George Cafe;
    color: rgb(224, 41, 41);
    font-size: 1.25rem;
    text-decoration: none;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    border: none !important;

  }
}

