@keyframes slideDown {
  from {
    transform: translateY(-110px); /* Start just above the viewport */
  }
  to {
    transform: translateY(0); /* Slide to its original position */
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
}


.headerContainer {
  box-sizing: border-box;
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 89, 124, 1);
  /* background: linear-gradient(to top, rgb(0, 111, 155) 0%, rgb(0, 91, 127) 100%); */
  /* backdrop-filter: blur(8px) grayscale(1); */
  text-align: center;
  z-index: 2000;
  animation: slideDown .75s ease-out forwards;
  color: white;
  border-bottom: solid rgb(0, 65, 95) 2px;
}
.underline {
  text-decoration: underline !important;
  text-decoration-color: red !important;
  border: solid red 2px;
}
.slideIn {
  animation: slideDown 1s ease-out forwards;
}
.leftNavbarHandle, .rightNavbarHandle {
  display: none;
}
.logoContainer {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 3rem 0 1rem;
  /* box-shadow: 0 0 35px rgba(0, 0, 0, .6); */
  /* border-radius: 50%;
  overflow: visible; */
  -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5)); /* horizontal, vertical offset, blur radius, color */
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5)); /* standard syntax */
}
.logoContainer:hover {
  animation: bounce .5s linear forwards;
  cursor: pointer;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
  /* border: solid red 2px; */
}
.title {
  font-family: Louis George Cafe;
  font-weight: bold;
  margin: auto;
  margin-bottom: 0;
  text-align: center;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  background: url('/images/texture.jpeg') no-repeat center / cover;
  background: linear-gradient(to right, rgb(0, 118, 182), rgb(1, 112, 203));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: var(--primary-red);
  margin-bottom: -10px;
  font-size: 3.5rem;

  /* text-shadow: 0 0 25px rgba(0, 0, 0, 0.4); */
}
.subtitle {
  font-family: Louis George Cafe;
  font-size: 1.25rem;
  margin: .1rem 0 0 0;
  font-style: italic;
}
.desktopRightNavbarWrapper, .desktopLeftNavbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: .5rem;
  height: 100%;
}
.desktopLeftNavbarWrapper {
  /* border: solid red 2px; */
  box-sizing: border-box;
  position: absolute;
  left:0;

}
.desktopRightNavbarWrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: .5rem;
  height: 100%;
}
.mobileLeftNavbarWrapper, .mobileRightNavbarWrapper {
  display: none;
}
.socialWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.socialIcon {
  width: 25px;
  height: 25px;
  margin: .5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 89, 124);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform .3s ease-in-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);
}
.socialIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
  bottom: solid 2px rgb(124, 0, 0);
}
.rightSideMenu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: .5rem;
  /* border: solid red 2px; */
  height: 100%;
}
.navContainer {
  position: relative;
  display: flex;
  margin-bottom: .5rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.navContainer a {
  text-decoration: none;
}
.navContainer a:focus {
  outline: none;
}
.navLink {
  margin: 0 .75rem;
  font-family: Louis George Cafe;
  color: rgb(43, 133, 207);
  color: rgb(255, 83, 83);
  color: white;
  font-size: 1.25rem;
  font-weight: 200;
  text-decoration: none;
  transform: scale(1);
  transition: transform .3s ease-in-out;
  border: none !important;
  height: fit-content;
  text-shadow: 0 0 15px rgba(0, 0, 0, .8);
}
.navLink h2 {
  font-family: Louis George Cafe;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transform: scale(1);
  transition: transform .3s ease-in-out;
  border: none !important;
  font-weight: normal;
}
.navLink:hover{
  transform: scale(1.2);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color:red;
}

.navLink:focus {
  outline: none;
  border: none;
}
.adminHomeLink {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Louis George Cafe;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  background: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: .5rem;
  padding: .5rem;
}
.adminHomeLink:hover {
  cursor: pointer;
  background: rgb(84, 195, 255);
}
/* handle title on resizing of page */
@media (max-width: 1600px) {
  .title {
    font-size: 3rem;
  }
  .navLink {
    font-size: 1.25rem;
    margin: 0 .35rem;
  }
}
@media (max-width: 1400px) {
  .title {
    font-size: 2.5rem;
  }
  .navLink {
    font-size: 1rem;
    margin: 0 .25rem;
  }
  .subtitle {
    width: 35vw;
    font-size: 1rem;
    text-align: center;
  }
}
@media (max-width: 1150px) {
  .title {
    font-size: 2rem;
  }
  .navLink {
    font-size: .85rem;
    margin: 0 .25rem;
  }
  .subtitle {
    width: 30vw;
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
  .navLink {
    font-size: .85rem;
    margin: 0 .25rem;
  }
  .subtitle {
    width: 40vw;
    margin-top: .5rem;
    text-align: center;
  }
  .socialIcon {
    width: 20px;
    height: 20px;
    margin: .25rem;
    padding: 4px;
    font-size: 1.25rem;
  }
  .socialWrapper {
    border: solid red 2px;
  }
  .logoContainer {
    margin: 0 1rem 0 .5rem;
    width: 40px;
    height: 40px;
  }
}

/* MOBILE STYLING */
@media (max-width: 768px) {
  .headerContainer {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;;
    height: auto;
    margin: 0;
    animation: none;
    background-color: rgba(0, 92, 129);
    border-bottom: 2px solid rgba(0, 52, 73, .4);
    background: var(--mobile-background);
  }
  .leftNavbarHandle, .rightNavbarHandle {
    display: inline-block;
    position: relative;
  }
  .navDivider {
    width: 70%;
    margin: 1rem
  }
  .leftNavbarHandle {
    margin-left: 0rem;
    width: 40px;
    height: 40px;
  }
  .rightNavbarHandle {
    margin-right: 0rem;
    width: 30px;
    height: 30px;
  }
  .desktopNavbarWrapper {
    display: none;
  }
  .rightSideMenu {
    display: none;
  }
  .titleWrapper {
    width: 75%;
    max-width: 500px;
    height: fit-content;
    text-align: center;
    padding: 0 0 .5rem 0;
    margin: 0 1.5rem;
    /* border: solid red 2px; */
  }
  .title {
    font-size: 7vw;
    line-height: 1.0;
    /* font-weight: normal; */
    -webkit-text-stroke: .5px rgb(255, 255, 255);
  }
  .subtitle {
    display: none;
  }
  .logoContainer {
    display: none;
  }
  .mobileNavbarHandle {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
  }
  .desktopLeftNavbarWrapper, .desktopRightNavbarWrapper {
    display: none;
  }

/* Common styles for both left and right navbar wrappers */
.mobileLeftNavbarWrapper, .mobileRightNavbarWrapper {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  z-index: 9999;
  overflow-y: hidden;
  transition: transform .3s ease-out !important;
}
.mobileRightNavbarWrapper {
  transform: translateX(100%) ;
}
.mobileLeftNavbarWrapper {
  transform: translateX(-100%);
}
.navContainer {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  overflow: hidden;
  background: var(--primary-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 5000;
  padding-top: 4rem;
  /* border: solid red 2px; */
}
.activeLeft {
  transform: translateX(0);
}
.activeRight {
  transform: translateX(0);
}

  .socialWrapper {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5000;
  }
  .visitUsOn {
    font-size: 1.5rem;
    margin: 25vh 0 0 0;
  }
  .mobileSocialLink {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: solid red 2px; */
    margin: 2rem 1rem;
    /* width: 80%; */
  }
  .socialIcon {
    height: 40px;
    width: 40px;
    margin: 1rem;
    padding: .75rem;
    /* border: solid red 2px; */
  }
  .closeIconLeft, .closeIconRight {
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 1.5rem;
    position: absolute;
    color: var(--primary-red);
    height: 30px;
    width: 30px;
    top: 0;
  }
  .closeIconLeft {
    left: 0;
  }
  .closeIconRight {
    right: 0;
  }


  .navContainer h2 {
    /* color: red; */
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
    transform: scale(1);
    transition: transform .3s ease-in-out;

  }
  .adminHomeLink {
    display: none;
  }
}
