.headerContainer {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  text-align: center;
}

.logoContainer {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 20px;
  left: 20px;
}
.headerContainer h1 {
  position: relative;
  width: 100%;
  margin: 0;
  top: 0;
  font-family: Nadall;
  font-size: 5rem;
}
.navContainer {
  position: absolute;
  display: flex;
  top: 100px;
  flex-direction: row;
}
.navContainer h2 {
  margin: 0rem 3rem .75rem 3rem;
  font-family: Nadall;
  color: red;
  font-size: 2rem;
}