.headerContainer {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgb(233, 249, 255);
  background-color: white;
  text-align: center;
  z-index: 2001;
  padding: .5rem;
  overflow:visible;
  border-bottom: solid 1px rgb(223, 223, 223);
  box-shadow: 0 7px 8px -10px rgba(0, 0, 0, 0.5);
}
.leftSideNavbarContent, .rightSideNavbarContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.leftSideNavbarContent {
  padding-left: .5rem;
}
.rightSideNavbarContent {
  padding-right: .5rem;
}
.testErrorButton {
  margin: 0 2rem;
  padding: .5rem 1rem;
  background-color: rgb(255, 123, 123);
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  font-size: 1.25rem;
  border: none;
}
.testErrorButton:hover {
  cursor: pointer;

}
.logoContainer {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0
}
.headerContainer h1 {
  position: relative;
  width: 100%;
  margin: 0;
  top: 0;
  font-family: Nadall;
}
.leftNavHandle, .rightNavHandle {
  position: relative;
  box-sizing: border-box;
  font-family: Louis George Cafe;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1rem;
}
.leftNavHandle{
}
.rightNavHandle {
}
.leftNavHandle:hover, .rightNavHandle:hover {
  cursor: pointer;
}
.iconWrapper, .userPhoto, .userIconWrapper {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0rem;
  background-color: rgb(235, 235, 235);
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
  /* border: solid red 2px; */
}
.userIconWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  border: solid rgb(203, 203, 203) 1px;
}
.iconWrapper {
  padding: .5rem;
  background: transparent;
}
.iconWrapper:hover, .userIconWrapper:hover {
  background-color: rgb(237, 237, 237);
  cursor: pointer;
  /* border: solid rgb(176, 176, 176) 1px; */
}
.userIcon {
  box-sizing: border-box;
  margin: 0;
  height: 60%;
  color: rgb(102, 102, 102);
}

.menuIcon, .alertsIcon, .selectedMenuIcon {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.selectedMenuIcon, .iconWrapper:hover .menuIcon {
  color: rgb(0, 123, 180);
  /* background-color: rgb(0, 0, 0); */
  border-radius: 50%;
}
.selectedAlertsIcon {
  color: rgb(0, 123, 180);
  /* background-color: rgb(189, 189, 189); */
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.menuIcon {
  color: rgb(88, 88, 88);
}
.alertsIcon {
  color: rgb(249, 91, 91);
  /* filter:drop-shadow(0px 0px 10px rgb(255, 110, 110)); */
}
.alertsIconDisabled {
  color: rgb(132, 132, 132);
}
.alertsIcon:hover, .menuIcon:hover {
  cursor: pointer;
}
.viewPages {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

/* ------------------------------------------------------
LEFT AND RIGHT NAV CONTAINERS-------------------------
------------------------------------------------------ */
.navContainerLeft, .navContainerRight, .alertsWrapper, .userMenu {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  padding: 1rem 0;
  white-space: nowrap;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 0;
  top: 45px;
}
.navContainerLeft {
  left: 50%;
  transform: translateX(-50%);
  /* text-align: left; */
}
.navContainerRight {
  left: auto;
  right: 0;
  transform: none;
  /* text-align: right; */
}
.navContainerHidden {
  display: none;
}

.navContainerLeft a, .navContainerRight a {
  text-decoration: none;
  width: 100%;
}
.navContainerLeft a:focus, .navContainerRight a:focus {
  outline: none;
}
.navContainerLeft h2, .navContainerRight h2 {
  /* margin: .5rem 0 .5rem 0; */
  margin: 0;
  font-family: Louis George Cafe;
  color: var(--primary-blue);
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  font-size: 1.25rem;
  font-weight:normal;
  transition: transform .3s ease-in-out;
  width: 100%;
  padding: .5rem 1.5rem;
  box-sizing: border-box;
}
.navContainerLeft h2:hover, .navContainerRight h2:hover{
  /* transform: scale(1.2); */
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  width: 100%;
}
.rightSideNavbarContent {
  /* border: solid red 2px; */
}
.navContainer h2:focus {
  outline: none;
  border: none;
}
.archiveButton {
  background-color: rgb(255, 126, 126);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: .5rem 1rem;
  margin: 0 2rem 0 0;
  font-size: 1rem;
}
.archiveButton:hover {
  cursor: pointer;
}
/* ------------------------------------------------------
ALERTS MENU-------------------------------------------
------------------------------------------------------ */
.alertsHandle {
  position: relative;
  margin: 0;
}
.alertsHandle:hover {
  cursor: pointer;

}
.alertsWrapper {
  box-sizing: border-box;
  position: absolute;
  /* background-color: rgb(1, 118, 150); */
  padding: 4px 8px;
  max-width: 1000px;
  min-width: 400px;
  right: 0;
  z-index: 2001;
  top: 52px;
}
.alertItem {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 4px 0;
  position: relative;
  /* border-bottom: solid rgb(189, 189, 189) 1px; */
  /* border-radius: 5px; */
}
.alertDivider {
  width: 95%;
  height: 0px;
  border: none;
  border-top: solid rgb(199, 199, 199) 1px;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.expireStatusIconWrapper {
  width: 30px;
  height: 30px;
  margin: 0 2rem 0 0;
  border-radius: 50%;
  padding: 0;
}
.expiredContent, .expiringContent {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.expiredContent {
  color: rgb(253, 99, 99);
  border-radius: 50%;
}
.expiringContent {
  color: rgb(228, 190, 0);
}
.alertHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  height: fit-content;
  font-size: 1.25rem;
  /* border: solid blue 4px; */
}
.expiredLabel {
  padding: 0rem;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: auto;
  text-align: left;
}
.expiredItemName {
  font-weight: bold;
  color:rgb(0, 123, 180);
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 2px;
  margin: 0;
}
.expiredDate {
  margin-bottom: 0;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
  padding: .25rem .5rem .25rem 0;
  border-radius: 3px;
  /* background-color: rgb(255, 217, 217); */
  font-style: italic;
}
.alertButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin: 0;
  width: 25%;
  /* border: solid red 2px; */
}
.renewButton, .deleteButton {
  width: 75px;
  border: none;
  margin: .5rem 0;
  font-size: 1rem;
  padding: .25rem 0rem;
  border-radius: 5px;
  background-color:  white;
  color: white;
  /* border: solid 1px rgb(190, 190, 190) */
}
.renewButton:hover, .deleteButton:hover {
  cursor: pointer;
}
.renewButton {
  background-color: rgb(0, 148, 202);
  /* border: solid 1px rgb(3, 86, 109); */

  /* color: rgb(0, 0, 0); */
  margin: 0;
}
.deleteButton {
  background-color: rgb(253, 92, 92);
  color: black;
  /* border: solid 1px rgb(255, 104, 104); */
  /* color: rgb(0, 0, 0); */
}
/* ------------------------------------------------------
USER MENU---------------------------------------------
------------------------------------------------------ */
.photoWrapper {
  height: 35px;
  width: 35px;
  background-color:rgb(88, 88, 88);
  border-radius: 50%;
}
.userPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.userPhoto:hover {
  cursor: pointer;
}
.userMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  right: 20px;
  top: 53px;
}
.userDetailsWrapper {
  margin: 1rem 0 1rem 0;
}
.userEmail, .userPosition {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0;
}
.userPosition {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0;
}
.logout {
  font-size: 1.25rem;
  margin: 2rem 0 0 0;
  padding: .5rem 1rem;
  background-color: rgb(255, 126, 126);
  color: black;
  border: none;
}
.logout:hover {
  cursor: pointer;
}
.storageStatusWrapper {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(167, 252, 158);
  /* border: solid red 2px; */
}
.storageStatusWrapper p {
  top: 50;
  padding: 5px .5rem;
  font-family: Louis George Cafe;
  font-size: 1.25rem;
  margin: 0;
}
.autosaveStatusWrapper {
  box-sizing: border-box;
  margin: 0 1rem;;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 200px;
  /* border: solid red 2px; */
}
.autosaveStatus {
  font-size: 1rem;
  /* border: solid blue 2px; */
  /* height: 100%; */
  width: 75%;
  text-align: left;
}
.cloudIcon {
  color:rgb(148, 230, 250);
  margin: 0 .5rem;
  height:30px;
  width: 30px;
}
.cloudCheckIconWrapper {
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.emptyCloudIcon {
  color: rgb(198, 198, 198);
  color:rgb(148, 230, 250);
  margin: 0 .5rem;
  height:30px;
  width: 30px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.checkIcon {
  color: rgb(86, 255, 165);
  color: rgb(255, 255, 255);
  margin: 0 .5rem;
  height:12px;
  width: 12px;
  position: absolute;
  z-index: 1;
  left: 9px;
  top: calc(50% + 2px);
  transform: translate(0, -50%);
}
.settingsLabel {
  font-weight: normal;
  font-size: 1.25rem;
  margin-top: .25rem;
}
.productionWarning {

}
.developmentWarning {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}
@media (max-width: 1023px) {
  .headerContainer {
    position: fixed;
    margin: 0;
    top:0;
    left: 0;
    width: 100vw;
    height:150px;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    z-index: 1;
    border-bottom: solid 1px rgb(134, 134, 134);

  }
  .headerContainer h1 {
    font-size: 2.5rem;
  }
  .logoContainer {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: none;
  }
  .navContainer {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center !important;
    top: 50px;
    left: 0;
    flex-direction: row;
    width: 100vw !important;
    min-width: 0;
    /* border: solid red 4px; */
  }
  .navContainer h2 {

    font-family: Louis George Cafe;
    color: red;
    font-size: 1.25rem;
    text-decoration: none;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    border: none !important;

  }
}