.headerContainer {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgb(233, 249, 255);
  background-color: white;
  text-align: center;
  z-index: 20;
  padding: .5rem;
  overflow:visible;
  border-bottom: solid 1px rgb(223, 223, 223);
}
.logoContainer {
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 0 1rem;
  left: 0;
}
.title {
  font-size: 3rem;
}
.headerContainer h1 {
  position: relative;
  width: 100%;
  margin: 0;
  top: 0;
  font-family: Nadall;
}
.leftNavHandle, .rightNavHandle {
  font-family: Louis George Cafe;
  position: absolute;
  top: 50%;
  height: 50px;
  padding: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);

  /* width: 150px; */
}
.leftNavHandle{
  left: 120px;
  border-radius: 10px;

}
.rightNavHandle {
  right: 50px;
  width: 50px;
  border-radius: 5px

}
.leftNavHandle:hover, .rightNavHandle:hover {
  cursor: pointer;
  background-color: rgba(101, 209, 255, 0.3);
}
.menuIcon, .downIcon {
  height: 30px;
  width: 30px;
  color: rgb(0, 0, 0);
}
.downIcon {
  margin: 0 1rem 0 0 ;
}
.menuIcon {

}
.viewPages {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  /* font-weight: bold; */
}
.navContainerLeft, .navContainerRight {
  background-color: rgba(255, 255, 255, 1);
  min-width: 100%;
  position: absolute;
  display: flex;
  top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  padding: 1rem 0;
  white-space: nowrap;
  /* border: solid rgb(195, 195, 195) 2px; */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.navContainerLeft {
  top: 50px;;
  left: 0;
}
.navContainerRight {
  right: 0;
  /* width: auto; */
}
.navContainerHidden {
  display: none;
}

.navContainerHidden {
  display: none;
}

.navContainerLeft a, .navContainerRight a {
  text-decoration: none;
  width: 100%;
}
.navContainerLeft a:focus, .navContainerRight a:focus {
  outline: none;
}
.navContainerLeft h2, .navContainerRight h2 {
  /* margin: .5rem 0 .5rem 0; */
  margin: 0;
  font-family: Louis George Cafe;
  color: var(--primary-blue);
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  font-size: 1.25rem;
  font-weight:normal;
  transition: transform .3s ease-in-out;
  width: 100%;
  padding: .5rem 1.5rem;
  box-sizing: border-box;
}
.navContainerLeft h2:hover, .navContainerRight h2:hover{
  /* transform: scale(1.2); */
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  width: 100%;
}
.rightSideNavbarContent {
  /* border: solid red 2px; */
}
.navContainer h2:focus {
  outline: none;
  border: none;
}
.messageIcon, .messageIconDisabled {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0 3rem;
}
.messageIcon {
  color: rgb(249, 91, 91);
}
.messageIconDisabled {
  color: rgb(132, 132, 132);
}
.messageIcon:hover {
  cursor: pointer;
}
.alertsWrapper {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  padding: calc(1rem - 6px) 1rem;
  width: 400px;
  top: 100%;
  left: 50%;
  z-index: 2001;
}
.alertItem {
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 6px 0;
}
.alertHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
}
.expiredLabel {
  font-weight: bold;
  margin: 0;
}
.expiredItem {
  padding: 0rem;
  margin: 0;
  text-decoration: underline;
}
.expiredDate {
  margin-bottom: 0;
}
.alertButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 1rem;
  width: 25%;
  /* border: solid red 2px; */
}
.renewButton, .deleteButton {
  width: 75px;
  border: none;
  border-radius: 0px;
  margin: .5rem 0;
  font-size: 1rem;
  padding: .25rem 0rem;
}
.renewButton:hover, .deleteButton:hover {
  cursor: pointer;
}
.renewButton {
  background-color: rgb(44, 200, 252);
  color: white;
  margin: 0;
}
.deleteButton {
  background-color: rgb(249, 91, 91);
  color: white;
}
.storageStatusWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.storageStatusWrapper p {
  background-color: rgb(44, 200, 252);
  background-color: rgb(167, 252, 158);
  /* outline: solid 2px rgb(0, 255, 34); */
  top: 50;
  padding: 5px .5rem;
  font-family: Louis George Cafe;
  font-size: 1.25rem;
  margin: 0;

}
.autosaveStatusWrapper {
  box-sizing: border-box;
  margin: 0 1rem;;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100px;
}
.autosaveStatus {
  font-size: 1rem;
}
.cloudIcon {
  color: rgb(164, 164, 164);
  margin: 0 .5rem;
  height:30px;
  width: 30px;
}
.cloudCheckIconWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.emptyCloudIcon {
  color: rgb(198, 198, 198);
  margin: 0 .5rem;
  height:30px;
  width: 30px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.checkIcon {
  color: rgb(86, 255, 165);
  margin: 0 .5rem;
  height:12px;
  width: 12px;
  position: absolute;
  z-index: 1;
  left: 9px;
  top: calc(50% + 2px);
  transform: translate(0, -50%);
}
@media (max-width: 768px) {
  .headerContainer {
    position: fixed;
    margin: 0;
    top:0;
    left: 0;
    width: 100vw;
    height:150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    z-index: 1;
    border-bottom: solid 1px rgb(134, 134, 134);

  }
  .headerContainer h1 {
    font-size: 2.5rem;
  }
  .logoContainer {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: none;
  }
  .navContainer {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center !important;
    top: 50px;
    left: 0;
    flex-direction: row;
    width: 100vw !important;
    min-width: 0;
    /* border: solid red 4px; */
  }
  .navContainer h2 {

    font-family: Louis George Cafe;
    color: red;
    font-size: 1.25rem;
    text-decoration: none;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    border: none !important;

  }
}