.pageWrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    /* margin: 20px 0; */
    text-align: center;
    overflow-y: auto;
    top: 0;
    left: 0;
    /* border: solid red 1px; */
    /* min-height: 100vh; */
    height: 100vh;
    padding: 4rem 2rem 2rem 2rem;
    /* color: white; */
    /* border: solid red 2px; */
    width: 100vw;
}

.userIcon {
  height: 80px;
  width: 80px;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  border: solid black 2px;
  color: var(--primary-blue);
  background-color: rgb(208, 239, 255)
}
.userPhoto {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 1rem auto; /* Center horizontally in a block container */
  display: block; /* Change from flex to block for an img element */
  overflow: hidden; /* Keeps the image from spilling outside the border-radius */
  object-fit: cover; /* Cover the container, cropping the image as necessary */
  object-position: center; /* Center the image within the container */

}
.userInfo {
  font-size: 1.5rem;
}
.infoLabel {
  font-weight: normal;
  margin: 2rem 0 0 0;
  font-size: 1.75rem;
  border: none;
  padding: .5rem 1rem;
  /* text-decoration: underline; */
}
.info {
  text-decoration: italic;
  font-size: 1.25rem;
  margin: .5rem;
}
.inviteUserInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: solid red 2px; */
}
.photoInput {
  margin: 0 auto;
}
.updateInput {
  margin: 0 0 .5rem 0;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border: solid 1px var(--primary-blue);
  border-radius: 5px;
  width: 500px;
}
.inviteButton {

  padding: .5rem 1rem;
  font-size: 1.25rem;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.archiveButton {
  background-color: rgb(255, 126, 126);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: .5rem 1rem;
  margin: 4rem 0 1rem 0;
  font-size: 1rem;
}
.archiveButton:hover {
  cursor: pointer;
}
.archiveInstructions {
  font-size: 1.25rem;
  margin: 0rem;
  width: 500px;
}