.addIcon {
  margin: 1rem;
  background-color: rgb(0, 195, 255);
  color: white;
  padding: .5rem;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0rem;
  left: 1rem;

}
.addIcon:hover {
  cursor: pointer;
}
.dropdownIcon {
  margin: 0 1rem;
}
.dropdownIcon:hover {
  transform: scale(1.1);
}
.sectionWrapper {
  margin-top: 2rem;
  width: 100%;
}
.listWrapper {
  width: 100%;
  border: solid rgb(179, 179, 179) 1px;
  margin: .5rem 0;

  /* box-sizing: border-box; */
}
.collapsedContentWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(246, 246, 246);
  padding: .25rem;
  width: 100%;
  /* border: solid red 2px; */
  margin: 0;
}
.collapsedContentWrapper:hover {
  cursor: pointer;

}
.titleWrapper {
  display: flex;
  flex-direction: row;
  /* border: solid red 2px; */
}
.title {
  font-weight: normal;
  margin: 0;
}
.expandedInfoHidden {
  display: none;
}
.expandedInfo {
  display: block;
  position: relative;
  /* border: solid rgb(35, 141, 255) 2px; */
  margin: 0;
  text-align: left;
  padding: .5rem;
  background-color: rgb(234, 234, 234);

}
.editButton, .deleteButton {
  background-color: rgb(63, 181, 255);
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  padding: .25rem .5rem;
  margin: .5rem;
  cursor: pointer;

}
.deleteButton {
  background-color: rgb(255, 124, 124);
}