.addIcon {
  margin: 1rem;
  background-color: rgb(0, 195, 255);
  color: white;
  padding: .5rem;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0rem;
  left: 1rem;

}
.addIcon:hover {
  cursor: pointer;
}
.dropdownIcon, .collapseIcon {
  height: 20px;
  width: 20px;
  margin: .25rem 1rem .25rem .25rem;
  padding: .25rem;
  /* color: white; */
  border: solid rgb(171, 171, 171) 1px;
  background-color: rgb(255, 255, 255);
  transition: transform .25s linear;
  transform: none;
}
.collapseIcon {
  transform: rotate(180deg);
  background-color: rgb(0, 133, 194);
}
.dropdownIcon:hover {
  transform: scale(1.1) rotate(0deg);
}
.collapseIcon:hover {
  transform: scale(1.1) rotate(180deg);
}
.sectionWrapper {
  margin-top: 2rem;
  width: 100%;
}
.listWrapper {
  position: relative;
  width: 100%;
  border: solid rgb(179, 179, 179) 1px;
  margin: .5rem 0;

  /* box-sizing: border-box; */
}
.collapsedContentWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(246, 246, 246);
  padding: .25rem;
  width: 100%;
  /* border: solid red 2px; */
  margin: 0;
  padding: 0;
  border: 0;
}
.collapsedContentWrapper:hover {
  cursor: pointer;

}
.titleWrapper {
  display: flex;
  flex-direction: row;
  /* width: 70%; */
  /* border: solid red 2px; */
  overflow: hidden;
}
.title {
  text-align: left;
  font-weight: 200;
  margin: 0;
}
.truncate {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.expandedInfo {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /* margin: .5rem; */
  /* border: solid rgb(255, 255, 255) 4px; */
  text-align: left;
  background: var(--mobile-background);
  color: white;
  overflow: hidden;
  transition: max-height .9s linear;
  max-height: 800px;
  padding: 0rem 1.5rem;
  height: auto;
  margin: 0;
  padding: .25rem 1.5rem;
  border: 0;
}
.expandedInfoHidden {
  transition: none;
  max-height: 0;
  padding: 0;
}
.expandedInfoVisible {
  /* max-height: 800px;
  transition: max-height .9s .1s linear, padding .1s linear;
  padding: .75rem; */
}
.author {
  font-size: 1.5rem;
  font-weight: normal;
  margin: .5rem 0 0 0;
}
.metadataLabel {
  margin-bottom: .25rem;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: red;
}
.metadata {
  margin-top: 0;
  font-size: 1.25rem;
}
.editControlsWrapper {
  width: fit-content;
  /* border: solid red 2px; */
  display: flex;
  flex-direction: row;
}

.editButton, .deleteButton {
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  font-weight: normal;
  border: none;
  padding: .25rem .5rem;
  margin: .5rem;
  cursor: pointer;
  height: auto;

}
.editButton {
  background-color: rgb(0, 135, 220);
  color: white;

}
.deleteButton {
  background-color: rgb(255, 124, 124);
}

.sortWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  /* border: solid red 2px; */
  margin: 0 .5rem;
  padding: 0;
}
.sortIcon {
  font-size: 1rem;
  padding: .25rem;
  color: rgb(187, 187, 187);
  /* border-radius: 50%; */
}
.sortIcon:hover {
  cursor: pointer;
  /* background-color: rgb(0, 135, 220); */
  color: black;
}