
.imageRow {
  display: flex;
}

.image {
  flex: 1;
  object-fit: cover;
  height: 33vh; /* Adjust height as needed */
}
.textPhoto {
  font-size: 80px; /* Large font size to see the effect clearly */
  font-weight: bold; /* Bold text to make the effect more noticeable */
  width: max-content; /* Adjust the width to the content */
  margin: auto; /* Center the text */
  text-align: center; /* Ensure the text is centered */
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Black border with 2px width */

  background: url('/images/texture.jpeg') no-repeat center / cover;
  -webkit-background-clip: text; /* Clip the background with the text for WebKit browsers */
  background-clip: text; /* Clip the background with the text */
  color: transparent;
}


@media(max-width: 768px) {
  .imageRow {
    flex-direction: column;
  }
  .image {
    height: 100vh;
  }
  .textPhoto {
    font-size: 40px;
  }
}