/* .collage {
  position: absolute;
  overflow-x: scroll;
  top: 0;
  left: 0;
  margin-top: -3.5rem;
  width: 150vw;
  display: grid;
  grid-template-columns: 1fr 1.1fr 0.9fr 1.05fr 1fr 0.8fr 1.15fr 1.0fr .75fr;
  grid-template-rows: 1fr 1.05fr;
  gap: 0px;
} */

/* .collagePhoto {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.collagePhoto:hover {
  cursor: pointer;
  transform: scale(1.2);
} */


.imageRow {
  display: flex;
}

.image {
  flex: 1;
  object-fit: cover;
  height: 33vh; /* Adjust height as needed */
}