@keyframes slideUp {
  from {
    transform: translateX(-50%) translateY(100vh);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes slideUpNoPosition {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
.viewStatusButton {
  font-size: 1.25rem;
  padding: .25rem 1rem;
  margin-top: 1rem;
  background-color: var(--primary-red);
  color: white;
  border: none;
}
.viewStatusButton:hover {
  cursor: pointer;
}
.viewingPostsMessage {
  color: white;
  font-size: 1.25rem;
  display: inline
}
.tagLabel {
  display: inline !important;
  color: white;
  text-decoration: underline;
  font-style: italic;
  font-size: 1.25rem;
}
.imageRow {
  display: flex;
}
.feedWrapperContainer {
  position: absolute;
}
.image {
  flex: 1;
  object-fit: cover;
  height: 33vh; /* Adjust height as needed */
}
.textPhoto {
  font-size: 80px; /* Large font size to see the effect clearly */
  font-weight: bold; /* Bold text to make the effect more noticeable */
  width: max-content; /* Adjust the width to the content */
  margin: auto; /* Center the text */
  text-align: center; /* Ensure the text is centered */
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Black border with 2px width */

  background: url('/images/texture.jpeg') no-repeat center / cover;
  -webkit-background-clip: text; /* Clip the background with the text for WebKit browsers */
  background-clip: text; /* Clip the background with the text */
  color: transparent;
}
.titleWrapper {
  /* border: solid red 3px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.title {
  font-size: 2.5rem;
  display: block;
  background-color:rgb(23, 197, 255);
  background: linear-gradient(90deg, rgb(255, 114, 114) 0%, rgba(23, 197, 255, 1) 50%, rgb(255, 103, 103) 100%);
  background-image: url('/images/gradient3small.webp');
  color: white;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  padding: .5rem 2rem .5rem 2rem;
  transform: skew(-15deg);
  border-radius: 3px;
  border: solid white 4px;
  margin: .5rem;
  width: 80%;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.title h1 {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.date {
  margin-top: 1rem;
}
.postBody{
  margin: 2rem;
}
.mobileHeaderWrapper {
  display: none;

}
.postFooter {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: .25rem 0;
  /* border: solid red 2px; */
  width: 100%;
  height: auto;
  border-top: solid 1.5px rgb(214, 214, 214);

  /* border-top: solid 3px red; */
  padding-top: .5rem;
}
.shareWrapper, .createdAtWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* background-color: rgb(0, 82, 115); */
  border-radius: 5px;
  padding: .25rem .5rem;
  width: 150px;
  height: 50px;
  /* color: white; */
  /* border: solid rgb(220, 220, 220) 2px; */
}
.shareWrapper:hover {
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  color: black;
}
.createdAt {
  text-align: center;
}
.shareIcon, .shareLabel, .createdAtIcon {
  margin: 0 .5rem;

}
.shareIcon {
  /* color: var(--primary-red);
  color: rgb(255, 93, 93); */
  color: var(--primary-blue);
  cursor: pointer;
}
.shareLabel {
  color: var(--primary-blue);
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 2px;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
}
.createdAt {
  font-size: 1.25rem
}
.filterWrapper {
  position: absolute;
  left:50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  animation: slideUp .25s ease-out forwards;
  /* border: solid red 2px; */
}
.searchBar, .filterSelect {
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: .25rem .1rem;
  border: solid 1px rgb(0, 89, 124);
  font-family: Louis George Cafe;
}
.searchIcon {
  display: none;
}
.searchWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: solid red 2px; */
}
.searchBar, .searchBarExpanded {
  width: 100%;

}
.searchButton {
  font-size: 1.25rem;
  padding: .25rem 1rem;
  background-color: var(--primary-red);
  color: white;
  border: none;
  margin-right: 4rem;
  font-family: Louis George Cafe;

}
.filterSelect {
  min-width: 100px;;
  border-radius: 2px;
  border: none;
}
.video {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.videoMobileWrapper {
  display: none; /* Initially hidden, will be shown in the media query */
}
.filterWrapper {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  padding: .5rem .1rem .5rem .1rem;
  animation: none;
  left: 0;
  border: none;
  margin: 0 auto;
  animation: slideUpNoPosition 1s ease-out forwards;
}
.searchWrapper {
  position: absolute;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  border: none;
  margin: 1rem 0;;
  padding: 0 .5rem;
}
.searchIcon, .searchIconExpanded {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: solid white 2px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  padding: 10px;
}
.searchIcon:hover {

}
.searchIconExpanded {
  background-color: var(--primary-red);
}
.searchBar, .searchBarExpanded {
  height: 40px;
  margin: 0 .25rem;
  z-index: 1;
}
.searchIcon:hover, .searchIconExpanded:hover {
  cursor: pointer;
}
.searchBar {
  position: relative;
  width: 40px;
  min-width: 0px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  outline: none;
  transition: width 0.4s ease-in-out, border-radius 0.1s ease-in-out 0.3s, background-color 0.4s;
  background-color: var(--primary-red);
  color: var(--primary-red);
}
.searchBarExpanded {
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  padding: 0 5px 0 50px;
  border: none;
  border-radius: 20px;
  transition: width 0.4s ease-in-out,  background-color 0.4s ease-in-out 0.3s ;
  border: solid white 2px;
  z-index: 1;
  border: none;
  background-color: white;;
}
.searchBar:hover {
  cursor: pointer;

}
.searchBar::placeholder {
  color: transparent;
}
.searchButton {
  display: none;
}
.filterSelect {
  position: relative;
  right: 0;
  width: 80%;
  min-width: 50px;
  margin: .5rem 2rem .5rem 1rem;
  border: none;
  border-radius: 15;
}


@media(max-width: 768px) {
  .mobileHeaderWrapper {
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
  }
  .video {
    display: none;
  }
  .videoMobileWrapper {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 56.25%; /* Aspect ratio of 16:9 */
    overflow: hidden;
  }
  .videoMobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .imageRow {
    flex-direction: column;
  }
  .image {
    height: 100vh;
  }
  .textPhoto {
    font-size: 40px;
  }
  .mobileHeaderWrapper {
    display: block;
  }
  .welcomePostWrapper {
    display: none;
  }
  .filterWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: .5rem 0 .5rem 1rem;
    animation: none;
    left: 0;
    animation: slideUpNoCenter 2s ease
    /* border: solid red */
  }
  .searchBarExpanded {
    /* border: solid green 2px; */
    width: calc(100% - 1rem)
  }
  .filterSelect {
    width: calc(100% - 30vw);
    margin-right: 1vw;
  }
  .postFooter {
    padding: 0;
  }
  .shareWrapper {
    height: 40px;

  }
  .createdAt, .shareLabel, .shareIcon {
    font-size: 1.5rem;
    margin: .25rem;
  }
}