.postTitleWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: solid red 2px; */
}
.postTitle, .postTitleEditable {
  resize: none;
  font-size: 2rem;
  display: block;
  color: #0068a8;
  width: 100%;
  height: fit-content;
  text-align: left;
  font-family: Louis George Cafe;
  font-weight: normal;
  /* padding: 0rem .5rem 0 .5rem; */
  margin: 1rem 0 0 0;
  border: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: red;
  /* border-bottom: none; */
  text-underline-offset: .4rem;
  text-decoration-thickness: 2px;
  overflow-wrap: break-word;
}

.postTitleEditable {
  width: 90%;
}
.rightInfoWrapper {
  position: absolute;
  right: 1rem;
  top: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* border: solid red 2px; */
}
.date {
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
  margin: .5rem 0rem;
  font-size: 1.25rem
}
.shareIcon {
  height: 25px;
  width: 25px;
  color: rgb(0, 66, 105);
}
.shareIcon:hover {
  cursor: pointer;
  color: var(--primary-red);
  /* transform: scale(1.2); */
}
.shareConfirm {
  position: absolute;
  top:.5rem;
  right: 1rem;
  transform: translateX(-50%);
  /* width: 25px; */
  padding: .5rem;
  font-size: 1rem;
  background-color: rgb(0, 93, 121);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 1); */
  /* border: solid rgb(95, 95, 95) 1px; */
  z-index: 5;
  animation: fadeInOut 2s forwards;
}
.userWrapper {
  /* border: solid black 2px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .5rem 0 0 0;
}
.userIcon {
  height: 80px;
  width: 80px;
  border: solid black 2px;
  border-radius: 50%;
  margin: .25rem;
  padding: .5rem;
}
.userImage {
  height: 60px;
  width: 60px;
  /* border: solid black 2px; */
  border-radius: 50%;
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the image does not spill outside the container */
  background-size: cover;
  background-position: center;
}
.userTitleWrapper {
  margin-left: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userName, .userPosition {
 margin: 0;
 padding: 0;
 font-size: 1.25rem;
}
.userName {
  font-weight: bold;
}
.userPosition {

}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media(max-width: 768px) {
  .postTitle {
    width: 100%;
    margin: 0 0 .5rem 0rem;
    padding: -.25rem 0 .5rem 0;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 1px;
    border-bottom: none;
    text-underline-offset: .25rem;
    font-size: 1.75rem;
    /* font-weight: bold; */
    /* line-height: 1.9; */
  }
  .date {
    display: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
  }
  .userWrapper {
    margin: 0rem 0 0 0rem
  }
  .userImage {
    height: 45px;
    width: 45px;
  }
  .userName, .userPosition {
    font-size: 1rem;
  }
}