.postTitleWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: solid red 2px; */
}
.postTitle {
  font-size: 2.5rem;
  display: block;
  color: #0068a8;
  width: fit-content;
  text-align: left;
  font-family: Louis George Cafe;
  font-weight: normal;
  /* padding: 0rem .5rem 0 .5rem; */
  margin: 0;
  text-decoration: underline;
  text-decoration-color: red;
  border-bottom: none;
  text-underline-offset: .33rem;
}

.date {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: .5rem .75rem;
}
.userWrapper {
  /* border: solid black 2px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: .5rem 0 0 0;
}
.userIcon {
  height: 80px;
  width: 80px;
  border: solid black 2px;
  border-radius: 50%;
  margin: .25rem;
  padding: .5rem;
}
.userImage {
  height: 60px;
  width: 60px;
  /* border: solid black 2px; */
  border-radius: 50%;
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the image does not spill outside the container */
  background-size: cover;
  background-position: center;
}
.userTitleWrapper {
  margin-left: .5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userName, .userPosition {
 margin: 0;
 padding: 0;
 font-size: 1.25rem;
}
.userName {
  font-weight: bold;
}
.userPosition {

}
@media(max-width: 768px) {
  .postTitle {
    width: 100%;
    margin: 0 0 1rem 0rem;
    padding: -.25rem 0 .5rem 0;
    text-decoration: underline;
    text-decoration-color: red;
    border-bottom: none;
    text-underline-offset: .25rem;
    /* line-height: 1.9; */
  }
  .date {
    display: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
  }
  .userWrapper {
    margin: 0rem 0 0 0rem
  }
  .userImage {
    height: 40px;
    width: 40px;
  }
  .userName, .userPosition {
    font-size: 1rem;
  }
}