@keyframes expandCaption {
  from {
    max-height: 0px;
    /* opacity: 0; */
  }
  to {
    max-height: 500px; /* Large enough to accommodate typical content */
    /* opacity: 1; */
  }
}

.carouselWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: .25rem;
  margin: 0;
  transition: expand 20s ease-in-out;
  /* border: solid rgb(117, 117, 117) 6px; */
  /* background-color: rgb(233, 233, 233) */
  /* padding-top: 3rem; */
}
.icon {
  padding: .5rem;
  border-radius: 4px;
  margin: .5rem;
}
.carouselSlide {
  position: relative;
  max-height: 40vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* border: solid rgb(80, 80, 80) 1px; */
  background-color: rgb(227, 227, 227);
  z-index: 9999;
}
.carouselSlide img {
  /* box-shadow:rgba(0, 0, 0, 0.7) 0 0 5px 0; */
}
.slideImg {
  max-height: 40vh;
  width: auto;
  object-fit: contain;

}

/* TITLE AND CAPTIONS */
.captionInput, .captionP {
  width: calc(100% - 4rem);
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  padding: .25rem;
}
.captionInput {
  outline: dashed black 1px;
  border: none;
  resize: none;
  z-index: 20;
}
.captionWrapper {
  /* border: solid rgb(0, 101, 138) 4px;
  background-color: rgb(232, 242, 255); */
  width: 90%;
  margin: -1rem 0 2px 0;

}
.captionP {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  padding: 0;
  width: 100%;
  padding: .5rem;
}
/* NAV ARROWS */
.arrowLeft, .arrowRight, .arrowLeftDisabled, .arrowRightDisabled {
  height: 30px;
  width: 30px;
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  transition: transform 0.5s ease;
  border-radius: 50%;
  padding: .5rem;
  z-index: 10;
}
.arrowLeft, .arrowRight {
  background-color: rgba(0, 90, 120, 0.7);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
}
.arrowLeft:hover, .arrowRight:hover {
  background-color: rgb(255, 84, 84);
  box-shadow:rgba(0, 0, 0, 0.7) 0 0 5px 0;
  border: solid rgb(255, 255, 255) 2px;
  cursor: pointer;
  transform: translate(0, -50%) scale(1.2);
}
.arrowLeft, .arrowLeftDisabled {
  left: 19px;
}
.arrowRight, .arrowRightDisabled {
  right: 19px;
}
.arrowLeftDisabled, .arrowRightDisabled {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(136, 136, 136);
}
@media(max-width: 600px) {
  .arrowLeft, .arrowRight, .arrowLeftDisabled, .arrowRightDisabled {
    display: none;
  }

}