@keyframes expandCaption {
  from {
    max-height: 0px;
    /* opacity: 0; */
  }
  to {
    max-height: 500px; /* Large enough to accommodate typical content */
    /* opacity: 1; */
  }
}

.carouselWrapper, .carouselEditableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: solid rgb(218, 218, 218) 2px; */
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: .25rem;
  margin: 0;
}

.carouselWrapper {
  /* background-color:rgb(82, 82, 82); */
  /* background-color: rgb(0, 103, 167); */

}

.carouselEditPhotosWrapper {
  position: relative;
  background-color: white;
  /* width: 100%; */
  /* height: 80vh; */
  /* border: solid blue 2px; */
}
.droppableAreaWrapper {
  position: relative;

}
.draggableItemWrapper {
  left: auto !important; /* needed to ensure placeholder isnt offset while dragging */
  top: auto !important; /* needed to ensure placeholder isnt offset while dragging */
  position: relative;
  max-width: 500px;
  margin: 1.5rem 0;
  padding: 1rem;
  border: solid rgb(66, 66, 66) 1px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 15px 0;
  overflow: visible;
}
.photoInput {
  /* position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%); */
}
.icon {
  padding: .5rem;
  border-radius: 4px;
  margin: .5rem;
}
.carouselSlide {
  position: relative;
  max-height: 40vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  background-color: rgb(83, 83, 83);
  background-color: rgb(233, 233, 233);

  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0, 1) 100%); */
  /* background: linear-gradient(to bottom, rgba(0, 129, 181, 0.7) 0%, rgba(0, 85, 119, 0.7) 100%); */
  /* background-color: rgb(255, 255, 255); */
  /* z-index: 9999; */

}
.carouselSlide img {
  padding: .75rem;
  /* box-shadow:rgba(0, 0, 0, 0.7) 0 0 5px 0; */
}
.slideImg {
  max-height: 40vh;
  width: auto;
  object-fit: contain;
  /* border: solid white 4px !important; */

}
.carouselImageLoading {
  height: 800px;
  width: 100%;
}
/* TITLE AND CAPTIONS */
.captionInput, .captionP {
  width: calc(100% - 4rem);
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  padding: .25rem;
  margin: .25rem;
}
.captionInput {
  outline: dashed black 1px;
  border: none;
  resize: none;
  z-index: 20;
}
.captionWrapper {
  /* border: solid rgb(0, 101, 138) 4px;
  background-color: rgb(232, 242, 255); */
  width: 90%;

}
.captionP {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  padding: 0;
  width: 100%;
  padding: .5rem;
}
/* NAV ARROWS */


@media(max-width: 768px) {
  .carouselWrapper {
  }
  .arrowLeft, .arrowRight, .arrowLeftDisabled, .arrowRightDisabled {
    display: none;
  }
  .carouselSlide {
    /* max-height: 100vh; */
    /* background-color: rgb(233, 233, 233); */
  }
}