.pageTitle {
color: white;
font-weight: normal;
text-align: center;
margin: 2rem 0 5rem 0;
}
.pathwaysWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid rgb(255, 255, 255) 2px;

}
.pathway {
  /* border: solid rgb(255, 75, 75) 2px; */
  width: 25%;
  text-align: center;
  margin: none;
  height: 100%;
  padding: .5rem 1.5rem;
}
.pathway:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.selectedPathwayTitle {
  color: white;
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: rgba(255, 5, 5, 0);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  padding: .5rem;
  margin: 0;
  background-color: white;
  color: var(--primary-blue);
  text-align: center;
}
.selectedPathway p {
  color: var(--primary-blue);
}
.pathwayTitle {
  color: white;
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: rgb(88, 255, 133);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  padding: .5rem;
  margin: 0;

}