.PrimeTextContainer {
  font-size: 1.5rem;
  font-weight: 500;
  /* line-height: 2rem; */
  color: #000000;
  /* margin-bottom: 1rem; */
  width: 80%;
  min-width: 650px;

}
.PrimeTextContainer .p-editor-toolbar .p-editor-button {
  font-size: 20px; /* Adjust the size as needed */
}

/* Increase the text size inside the editor */
.PrimeTextContainer .p-editor-content {
  font-size: 26px; /* Adjust the size as needed */
}