.photoTitle {
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(90deg, rgb(33, 197, 252), rgb(0, 148, 193));
  border-radius: 3px;
  transform: skew(-10deg);

}
.photosGrid {
  display: grid;
  gap: 10px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.photosGridSingle, .photosGridTwoColumns, .photosGridThreeColumns {
  width: 100%;
}

.photosGridSingle {
  grid-template-columns: repeat(1, 1fr);
}

.photosGridTwoColumns {
  grid-template-columns: repeat(2, 1fr);
}

.photosGridThreeColumns {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.gridPhotoContainer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.gridPhoto {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;

}
.noPhotoMessage {
  width: 100%;
}
