.loadingPlaceholder {
  position: relative;
  width: 150px; /* Set to your image size */
  height: 150px; /* Set to your image size */
  background-image: url('/images/animatedShield/shield2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: spin 1s linear infinite;
  overflow: visible;
  opacity: 0;
}
.wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  background-image: url('/images/animatedShield/shield2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeIn 2s ease forwards;
  overflow: visible;
  opacity: 0;
  margin: 0;
  max-height: 150px;
  max-width: none;
  /* overflow: hidden; */
}
.finalShield {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/animatedShield/shieldNoAtom.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.2s ease forwards, pop .5s linear forwards;
  animation-delay: 1.5s;
  z-index: 2;
  max-height: 150px;
  min-width: 0;
  height: auto;
}
/* Common styles for each item */
.item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Individual item backgrounds */
.atom {
  background-image: url('/images/animatedShield/atomIcon.png');
  top: 45%;
  left: 54%;
  z-index: 2;
  height: 30%;
  width: 30%;
  color: white;

  /* filter: blur(.25px); */
}
.soccer { background-image: url('/images/animatedShield/soccer.png'); }
.skateboard { background-image: url('/images/animatedShield/skateboard.png'); }

@keyframes swirl-in-from-left {
  0% { transform: translateX(-200%) rotate(0deg) scale(3); }
  50% { transform: translate(-50px, 50px) rotate(270deg) scale(2); }
  100% { transform: translateX(0) rotate(540deg) scale(1); }
}

@keyframes swirl-in-from-right {
  0% { transform: translateX(100%) rotate(0deg) scale(3); }
  50% { transform: translate(50px, -50px) rotate(180deg) scale(2); }
  100% { transform: translateX(0) rotate(360deg) scale(1); }
}

@keyframes swirl-in-from-top {
  0% { transform: translateY(-100%) rotate(0deg) scale(3); }
  50% { transform: translate(-50px, -50px) rotate(180deg) scale(2); }
  100% { transform: translateY(0) rotate(360deg) scale(1); }
}
@keyframes swirl-in-from-left-desktop {
  0% { transform: translateX(-1000%) rotate(0deg) scale(10); }
  50% { transform: translate(-500%, 150px) rotate(270deg) scale(5); }
  100% { transform: translateX(0) rotate(540deg) scale(1); }
}

@keyframes swirl-in-from-right-desktop {
  0% { transform: translateX(1000%) rotate(0deg) scale(10); }
  50% { transform: translate(500%, 50%) rotate(180deg) scale(5); }
  100% { transform: translateX(0) rotate(360deg) scale(1); }
}

@keyframes swirl-in-from-top-desktop {
  0% { transform: translate(-100%, -20%) rotate(0deg) scale(10); }
  50% { transform: translate(500%, 200%) rotate(180deg) scale(5); }
  100% { transform: translate(0) rotate(360deg) scale(1); }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes continuous-rotation {
  from {
    transform: rotate(36deg);
  }
  to {
    transform: rotate(396deg);
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop-and-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(18deg); /* Adjust the rotation degrees as needed */
  }
  100% {
    transform: scale(1) rotate(36deg);
  }
}

.atom {
  animation: swirl-in-from-left-desktop 1.5s linear forwards,
             pop-and-rotate 0.5s ease-out 1.5s forwards, /* Assuming you want the pop to happen right after the initial animation */
             continuous-rotation 5s linear 2s infinite; /* Adding a delay equal to the duration of the first two animations */
  transform-origin: center;
}
.soccer {
  animation: swirl-in-from-right-desktop 1.5s linear forwards;
}
.skateboard {
  animation: swirl-in-from-top-desktop 1.5s linear forwards;
}
@media(max-width: 768px) {
  .atom {
    animation: swirl-in-from-left 1.5s linear forwards,
    pop 0.5s ease-out 1.5s forwards, /* Assuming you want the pop to happen right after the initial animation */
    continuous-rotation 5s linear 1.99s infinite; /* Adding a delay equal to the duration of the first two animations */
transform-origin: center;
  }
  .soccer {
    animation: swirl-in-from-right 1.5s linear forwards;
  }
  .skateboard {
    animation: swirl-in-from-top 1.5s linear forwards;
  }
}