.staffWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.staffMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33.33%;
  height: 600px;
  /* border: solid 1px black; */
  margin: 1rem;
  padding: .5rem;
  background-color: white;
  /* box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5); */
  flex-grow: 1;
}
.staffPhotoWrapper {
  width: 100%;
  /* height: 250px; */
}
.staffPhoto {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.aboutWrapper {
  text-align: center;
  position: absolute;
  top: 2rem;
  width: 1000px;
  height: calc(100vh - 2rem;);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(8px);
  font-size: 1.25rem;
  padding: 0 2rem 2rem 2rem;
}