@font-face {
  font-family: 'Nadall';
  src: url('../public/fonts/NADALL.TTF') format('truetype');
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Light.ttf') format('truetype');
  font-weight: normal; /* or 400 */
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: bold; /* or 700 */
}
@keyframes slideUp {
  from {
    transform: translateX(-50%) translateY(100vh);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}
/* The entire scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* or any desired size */
}

/* The track (progress bar) of the scrollbar */
::-webkit-scrollbar-track {
  background: #ffffff;  /* or any color */
  background: rgba(0, 0, 0, 0);
}

/* The handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: rgb(255, 83, 83);
  padding-right: 2px;
  /* border: solid white 1.5px; */
  /* border-radius: 10px; */
}

/* The handle (thumb) when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background: #29c6ff;  /* or any darker color */
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(38, 189, 254), rgb(0, 94, 149)); /* gradient background */
  background-image: url('../public/images/gradient3small.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: auto;
  backdrop-filter: brightness(0.5);
}
.adminPageWrapper {
  position: relative;
  top: 130px;
  width: 100vw;
  /* height: calc(100vh - 130px); */
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Louis George Cafe;
  overflow-y: auto;
  height: 300vh;
}
.publicPageWrapper {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Louis George Cafe;
  margin-bottom: 2rem;
  overflow-y: auto;
}
.blogContainer {
  width: 95vw !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* min-width: 0; */
}
.feedWrapper{
  position: absolute;
  top: 100px;
  left: 50%;
  width: 1100px;
  transform: translateX(-50%);
  z-index: 2000;
  background-color: rgba(0, 89, 124, 0.8);
  backdrop-filter: blur(8px);
  animation: slideUp 1s ease-out forwards;
  overflow-y: auto;
  height: calc(100vh - 120px);
  height: 100vh;
  /* border: solid rgb(255, 255, 255) 8px;
  border: solid rgba(0, 113, 157, 0.7) 6px; */
  border: solid white 6px;
  /* border-right: 0; */
  border-bottom: 0;
  padding-left: 8px; /* to account for scrollbar */
  /* border-top: 0; */
}


.welcomePostWrapper {
  position: relative;
  width: 1000px;
  padding: 1rem 4rem 1rem 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(8px);
  animation: slideUp 1s ease-out forwards;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-family: Louis George Cafe;
}
.welcomeTitle {
  font-weight: 400;
  font-size: 4rem;
  color: #0068a8;
  padding: 0;
  margin: 0;
}
.subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
}
.post, .postPreview {
  position: relative;
  width: 1000px;
  max-width: 80vw;
  min-width: 50vw;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: Louis George Cafe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0rem;
}
.post {
  position: relative;
  /* width: calc(1000px - 2rem); */
  height: 100%;
  width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(8px);
  animation: slideUp 1s ease-out forwards;
  margin-bottom: 2rem;
  /* border-radius: 20px; */
}
.blockWrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  padding: 0;
  margin: 2rem 0rem 2rem 0rem;
}
.editableBlockWrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  padding: 0;
  margin: 2rem 0rem 2rem 0rem;
  outline: dashed rgb(0, 0, 0) 2px;
}
.outlined {
  outline: dashed rgb(0, 0, 0) 2px;

}
.loadingHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  text-align: center;
  padding-top: 10rem;
}
.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.hiddenImage {
  opacity: 0;
}
.postTitleWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.postTitle {
  font-size: 2.5rem;
  display: block;
  color: #0068a8;

  width: auto;
  text-align: left;
  font-family: Louis George Cafe;
  font-weight: normal;
  /* padding: 0rem .5rem 0 .5rem; */
  margin: 0;
  /* text-decoration: underline; */
  border-bottom: solid 3px rgb(0, 104, 145);
  border-bottom: solid 3px rgb(255, 54, 54);
  /* text-decoration-color: red; */
}
.editable {

  border: dashed rgb(0, 0, 0) 2px;

}
.postTitle::placeholder {
  color: #0083d5; /* Replace with your desired color */
  opacity: 1; /* Optional: Adjust the opacity as needed */
}
.editableTitle {
  margin: 1rem;
  border: dashed rgb(255, 255, 255) 3px;
}
.postDate {
  margin: 1rem;
}
.resizeHandle {
  z-index: 20;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  clip-path: polygon(0 100%, 100% 100%, 100% 0); /* Cutting the square */
  padding: .1rem;
  color: greenyellow;
  background-color: rgb(0, 187, 255);
  cursor: nwse-resize;
  border: solid rgb(255, 255, 255) 2px;
}

/* --------------PRIME TEXT EDITOR STYLES---------------- */
.p-editor-container {
  background-color: rgba(0, 0, 0, 0) !important;
  flex-grow: 1 !important;
  min-width:200px !important;
  overflow:visible !important;

}
.p-editor-toolbar {
  /* border: solid rgb(255, 153, 0) 2px !important; */
  background-color: rgba(255, 255, 255, 1) !important;
  border-radius: 0 !important;
  width: 700px;
  position: absolute !important;
  top: -46px;
}
.p-editor-content {
  border: dashed black 2px !important;
  height: unset !important;
  height:100% !important;
  flex-grow: 1 !important;
}
.ql-editor {
  background-color: rgba(0, 0, 0, 0) !important;
  /* min-height: 100px !important; */
  height: 90% !important;
  box-sizing: border-box !important;
  flex-grow: 1 !important;
}
.ql-editor p {
  font-size: 20px;
}
.ql-container {
  box-sizing: border-box !important;
  flex-grow: 1 !important;
}

.ql-align-right {
  text-align: right;
}
.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}
.ql-font-monospace {
  font-family: monospace;
}
.ql-font-serif {
  font-family: serif;
}
.postBody {
  margin: 0;
}

.gridPhoto, .ReactCrop {
  max-height: 50vh;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* margin-bottom: 1rem; */

}
.carousel-root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-slider {
  position: relative;
  padding: 0;
  margin: 0;

}
.slide-wrapper {
}
.thumbs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 !important;

}
.thumbs-wrapper img {

}

.bottomRight {
  background: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  opacity: 0.5;
}

/* ------------------------------------------MOBILE STYLING---------------------------------------------- */
/* ------------------------------------------MOBILE STYLING---------------------------------------------- */
/* ------------------------------------------MOBILE STYLING---------------------------------------------- */

@media (max-width: 768px) {
  .appContainer {
    box-sizing: border-box !important;
    width: 100vw;
    height: calc(100vh);
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    background: linear-gradient(to right, rgb(92, 201, 255), rgb(30, 101, 152));
    background-image: url('../public/images/gradient3small.webp');
    background-size: cover;
    background-position: center;
    /* margin-top: 150px; */
  }
  .post {
    width: 92vw !important;
    margin-top: 50px;
  }
}
