@font-face {
  font-family: 'Nadall';
  src: url('../public/fonts/NADALL.TTF') format('truetype');
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Light.ttf') format('truetype');
  font-weight: normal; /* or 400 */
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('../public/fonts/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: bold; /* or 700 */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* overflow-y: auto; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
  background-image: url('../public/images/gradient3small.webp');
  background-size: cover;
  background-position: center;
}

.adminPageWrapper {
  position: relative;
  top: 130px;
  width: 100vw;
  height: calc(100vh - 130px);
  /* height: auto; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Louis George Cafe;
  overflow-y: auto;

  /* border: solid greenyellow 4px; */
}
.publicPageWrapper {
  position: relative;
  top: 150px;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Louis George Cafe;
  /* border: solid greenyellow 4px; */
}
/* All returned section elements */
.blogContainer {
  width: 95vw !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* min-width: 0; */
}
.post, .postPreview {
  position: relative;
  width: 80vw;
  min-width: 700px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.367);
  backdrop-filter: blur(10px);
  text-align: center;
  /* min-height: 800px; */
  padding: 2rem;
  font-size: 1.5rem;
  font-family: Louis George Cafe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
}
.postPreview {
  /* margin: 2rem; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* overflow-y: auto; */
}
.loadingHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  text-align: center;
  padding-top: 10rem;
}

@media (max-width: 768px) {
  .appContainer {
    box-sizing: border-box !important;
    width: 100vw;
    height: calc(100vh);
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    background: linear-gradient(to right, rgb(92, 201, 255), rgb(30, 101, 152));
    background-image: url('../public/images/gradient3small.webp');
    background-size: cover;
    background-position: center;
    /* margin-top: 150px; */
  }
  .post {
    width: 92vw !important;
    margin-top: 50px;
  }

}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.hiddenImage {
  opacity: 0;
}
.blackBackground {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}