.introWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

.image {
  object-fit: cover;
  height: 100%;
}
@keyframes scrollSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollMedium {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollFast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.introWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;

}

.imageRow {
  display: flex;
  height: 33.33vh;
  white-space: nowrap;
  overflow:visible;
  width: 200vw;
  align-items: center;
}

.imageRow:nth-child(2) {
  animation: scrollSlow 30s linear infinite;
}

.imageRow:nth-child(3) {
  animation: scrollMedium 45s linear infinite;
}

.imageRow:nth-child(4) {
  animation: scrollFast 37s linear infinite;
}

.image {
  display: inline-block;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform-origin: center;
}
.image:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 999;
  transform-origin: center;


}
.introContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font: 2rem 'Louis George Cafe';
  font-weight: normal;
  width: 800px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: skew(-10deg) translate(-50%, -50%);
  border: solid 2px rgb(149, 149, 149);
  backdrop-filter: blur(10px); /* Adjust the pixel value to increase or decrease the blur effect */

}
.introContainer h1 {
  /* position: relative;
  margin: 0;
  padding: 0; */
}
.introImage {
  width: 90%;
  margin-left:2rem;
  /* border: solid white 2px; */
  padding: 0;
}
.enter {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: normal;
}
.enter:hover {
  cursor: pointer;
  background-color: rgb(34, 171, 240);
  padding: 1rem;
  border-radius: 10px;
}