.blogContainer {
  width: 95vw !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* min-width: 0; */
}
.mYVXT {
  margin: 0 auto;
}

.mYVXT * {
  margin: 0 auto;
}