@keyframes scrollSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes page_scrollSlow__Zy0fz {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); /* or another appropriate value */ }
}
@keyframes scrollMedium {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollFast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scrollRow {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(calc(-1 * var(--scroll-distance))); }
}
@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}
.introContainer {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.85);
  color: white;
  font: 2rem 'Louis George Cafe';
  font-weight: normal;
  width: 800px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transform: skew(-10deg) translate(-50%, -50%);
  border: solid 6px rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  padding: 0;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.5);
}
.introContainer:hover {
  cursor: pointer;
}
.galleryWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: .5rem;
  margin-bottom: 0;
}
.imageRow {
  box-sizing: border-box;
  display: flex;
  height: calc(33.33% - .5rem);
  white-space: nowrap;
  overflow:visible;
  width: fit-content;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: .5rem 0;
  position: relative;
}

.imageRow:nth-child(1) {
  animation: scrollSlow 60s linear infinite;
}
.imageRow:nth-child(2) {
  animation: scrollMedium 90s linear infinite;
}
.imageRow:nth-child(3) {
  animation: scrollFast 75s linear infinite;
}

.hoveredImage {
  z-index: 10; /* This will be applied on hover via React state */
  transform: scale(1.1); /* Ensure this matches your desired hover effect */
  cursor: pointer;
  border: solid rgb(255, 255, 255) 6px;
  border-radius: 5px;
  transform-origin: center;
  /* outline: solid white 5px; */
}
.hoveredRow {
  z-index: 15; /* Ensure this is higher than the z-index of unhovered rows and images */
}
.hiddenImage {
  opacity: 0;
}
.fadeIn {
  animation: fadeInAnimation 2s ease-out;
}

.titledLogo {
  width: 75%;
  margin-left:2rem;
  margin-top: 0;
  padding: 0;
}
.enterButton {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: black;
}
.enterButton:hover {
  cursor: pointer;
  background-color: rgb(34, 171, 240);
  padding: 1rem;
  border-radius: 10px;
}
@media(max-width: 768px) {
  .introContainer {
    position: absolute;
    right: 10vw;
    width: 80vw;
    height: 20vh;
    border-radius: 10px;
    transform: skew(-10deg) translate(-55%, -50%);
    border: none;

  }
  .introImage {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
  .enter {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    /* border: solid white 2px; */
  }
  .enter:hover {
    cursor: pointer;
    background-color: rgb(34, 171, 240);
    padding: 1rem;
    border-radius: 10px;
  }
}



/* new stuff for css tint ---------------------------------------------------*/
.image {
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: filter 0.25s ease-in-out;
  filter: grayscale(100%); /* Start with grayscale */
  z-index: 1;
  border: solid white 6px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
}

.imageContainerRed, .imageContainerBlue {
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  margin: 0 0.25rem;
}

.imageContainerRed::after, .imageContainerBlue::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 86, 74); /* Default color for Red */
  mix-blend-mode: overlay;
  transition: opacity 0.25s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
}

.imageContainerBlue::after {
  background-color: rgb(35, 182, 255); /* Color for Blue */
}

/* Remove tint and grayscale on hover of the container */
.imageContainerRed:hover .image, .imageContainerBlue:hover .image {
  filter: grayscale(0%); /* Remove grayscale filter */
  cursor: pointer;
}

.imageContainerRed:hover::after, .imageContainerBlue:hover::after {
  opacity: 0; /* Remove color overlay */
  transform: scale(1.1);
}
.imageContainerRed, .imageContainerBlue {
  cursor: pointer;
}
