@keyframes scrollSlow {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
}
@keyframes scrollMedium {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
}
@keyframes scrollFast {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
}
@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}
.galleryWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: .5rem;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: brightness(60%);
  animation: none;
}
.dimmedBackground {
  background-color: rgba(0, 0, 0, .5);
  /* filter: brightness(40%); */
  /* backdrop-filter: brightness(10%); */
}
.imageRow {
  box-sizing: border-box;
  display: flex;
  height: calc(33.33% - .5rem);
  white-space: nowrap;
  overflow:visible;
  width: 200vw;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: .5rem 0;
}
.imageContainer {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: auto;
  z-index: 1;
  margin: 0 0.25rem;
}
.redOverlay, .blueOverlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  mix-blend-mode: overlay;
  z-index: 2;
}

.redOverlay {
  background-color: rgb(255, 68, 54);
}
.blueOverlay {
  background-color: rgb(0, 143, 215);
}
.imageContainer:hover .redOverlay {
  opacity: 0;
}
.imageContainer:hover .blueOverlay {
  opacity: 0;
}

.imageContainer:hover .image {
  filter: grayscale(0%); /* Removes the grayscale filter */
}
.imageContainer:hover {
  outline: solid white 8px;
}
.image {
  display: inline-block;
  box-sizing: border-box;
  height: 100%; /* Maintains full height */
  width: auto; /* Adjusts width to maintain aspect ratio */
  object-fit: contain; /* Ensures full image is visible, maintaining aspect ratio */
  transition: transform 0.5s ease;
  transform-origin: center;
  position: relative;
  margin: 0;
  z-index: 0;
  filter: grayscale(100%);
}
/* filter brightness of colored overlay */
.dimmedBackground .redOverlay,
.dimmedBackground .blueOverlay {
  /* filter: brightness(40%); */
}

.imageRow:nth-child(1) {
  animation: scrollSlow 80s linear infinite;
}
.imageRow:nth-child(2) {
  animation: scrollMedium 120s linear infinite;
}
.imageRow:nth-child(3) {
  animation: scrollFast 100s linear infinite;
}

.hoveredImage {
  z-index: 10;
  outline: solid rgb(255, 255, 255) 12px;
  border-radius: 0px;
  transform-origin: center;

}
.hoveredRow {
  z-index: 15;
}
.hiddenImage {
  opacity: 0;
}
.hiddenImage:hover {
  opacity: 0 !important;
}
.dimmedImage {
  filter: brightness(.4);
}
.dimmedImage:hover {
  filter: none;
}
.hoveredImage:hover {
  filter: none;
  opacity: 1;
}
.fadeIn {
  animation: fadeInAnimation 2s ease-out;
}
.titledLogo {
  width: 75%;
  margin-left:2rem;
  margin-top: 0;
  padding: 0;
}
.enterButton {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: black;
}
.enterButton:hover {
  cursor: pointer;
  background-color: rgb(34, 171, 240);
  padding: 1rem;
  border-radius: 10px;
}
@media(max-width: 768px) {
  .introContainer {
    position: absolute;
    right: 10vw;
    width: 80vw;
    height: 20vh;
    border-radius: 10px;
    transform: skew(-10deg) translate(-55%, -50%);
    border: none;
  }
  .dimmedBackground {
    display: none; /* Hides the whole component on mobile */
  }
  .galleryWrapper {

  }
  .imageRow {

  }
  .image {
  }
  .introImage {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
  .enter {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    /* border: solid white 2px; */
  }
  .enter:hover {
    cursor: pointer;
    background-color: rgb(34, 171, 240);
    padding: 1rem;
    border-radius: 10px;
  }
}