.navbarWrapper {
  position: fixed;
  box-sizing: border-box;
  top: 80;
  left: 0;
  width: 200px;
  height: calc(100vh - 40px);
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  overflow-y: auto;
  padding: .5rem;
  font-size: 1rem;
  text-align: center;
}
.optionsList {
  text-align: left;
  list-style-type: none;
  margin-left: 0;
  padding: .5rem 0;
  background-color: rgb(213, 231, 255);
  width: 100%;
  font-size: 1rem;
  /* border: solid red 2px; */
}
.optionsList * {
  margin: .25rem .25rem;
}
.checkbox {
  width: 15px;
  height: 15px;
}

.addNewOptionWrapper {
  display: flex;
  flex-direction: column;
  /* border: solid red 2px; */
  width: 100%;
  align-items: center;
}
.addNewOptionInput, .addNewOptionButton {
  margin: .25rem;
  padding: .25rem;
  font-size: 1rem;
}
.addNewOptionInput {
width: 100%;
}
.addNewOptionButton {
  width: 100px;
  border: none;
  background-color: rgb(0, 112, 168);
  color: white;
  padding: .25rem;
}