.electivesContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.pageTitle {
color: white;
font-weight: 200;
text-align: center;
margin: 0 0 2rem 0;
font-size: 1.25rem;
}
.whiteHeader {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: red;
}

@media(max-width: 768px) {



}