.photoBlockWrapper {
  width: 100%;
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* min-height:100vh; */
  border-radius: 10px;
  height: auto;
  /* padding-bottom: 4rem; */
}
.editablePhotoBlockWrapper {
  width: 100%;
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  outline: dashed black 2px;
  border-radius: 10px;
  height: fit-content;
}

.photoWrapper {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  /* border: solid red 2px; */
}
.photoInputWrapper {

}
.photoInput {
  margin: 1rem;
  border: solid rgb(205, 205, 205) 1px;
  padding: .25rem;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
}
.photoPreview {
  /* width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box; */

  max-height: 50vh;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.titleAndCaption {
  position: relative;
  font-size: 1.25rem;
  padding: .5rem 1rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  text-align: center;
}
.titleInput, .captionInput, .title, .caption {
  text-align: center;
  font-size: 1.25rem;
  padding: .25rem;
  border: none;
  width: 100%;
  font-weight: normal;
  /* border: solid red 1px; */
  margin: 2px;
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  word-wrap: break-word; /* Break words at the container boundary */
  overflow-wrap: break-word; /* Break long words */
  box-sizing: border-box;
}
.titleAndCaption :global(.p-editor-toolbar) {
  position: relative;
}
.title, .titleInput {
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 1.75rem;
  color: rgb(0, 95, 168);
}
.captionInput {
  height: fit-content;
  border-radius: 4px;
  min-height: 80px;
  resize: vertical;
  border: dashed rgb(170, 170, 170) 2px;
}
.icon {
  padding: .5rem;
  border-radius: 4px;
  margin: .5rem;
}

.noPhotoMessage {
  width: 100%;
}
.loadingMessage {
  border: solid black 4px;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingIcon {
  margin: 2rem;
  animation: pulse 2s infinite;

}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
