.photoBlockWrapper {
  width: 100%;
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 10px;
  height: fit-content;
  /* padding-bottom: 4rem; */
}
.editablePhotoBlockWrapper {
  width: 100%;
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  outline: dashed black 2px;
  border-radius: 10px;
  height: fit-content;
  /* padding-bottom: 4rem; */
}

.photoWrapper {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  /* border: solid red 2px; */
}
.photoInputWrapper {

}
.photoInput {
  margin: 1rem;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  /* background: linear-gradient(90deg, rgb(255, 184, 184), rgb(2, 196, 255)); */
}
.photoPreview {
  /* width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box; */

  max-height: 50vh;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.photoTitle {
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(0, 95, 168);
}
.photosGrid {
  display: grid;
  gap: 10px; /* Adjust as needed */
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.photosGridSingle {
  grid-template-columns: repeat(1, 1fr);
}

.photosGridTwoColumns {
  grid-template-columns: repeat(2, 1fr);
}

.photosGridThreeColumns {
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Using minmax for more flexibility */
}

.gridPhotoContainer {
  /* margin: 1rem; */
  box-sizing: border-box;
}

.carouselWrapper {
  margin: 4rem;
}
.gridPhoto {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;

}
.icon {
  padding: .5rem;
  border-radius: 4px;
  margin: .5rem;
}

.noPhotoMessage {
  width: 100%;
}