.mainWrapper {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  animation: none;
  left: 0;
  margin: 0 auto;
  margin: .5rem 0 1rem 0;
  animation: slideUpNoPosition 1s ease-out forwards;
  /* border: solid yellow 2px; */
}
.filterSelect {
  min-width: 100px;
  border-radius: 2px;
  border: none;
  position: relative;
  width: 80%;
  min-width: 50px;
  margin: 0 auto;
  border: solid red 2px;
  margin-right: 2rem;
  text-align: left;
}


.searchBar, .filterSelect {
  font-size: 1.25rem;
  margin: 0 2rem 0 6rem;
  padding: .25rem .25rem;
  border: solid 1px rgb(0, 89, 124);
  font-family: Louis George Cafe;
}
.searchIcon {
  display: none;
}
.searchBar, .searchBarExpanded {
  width: 100%;
}
.searchButton {
  font-size: 1.25rem;
  padding: .25rem 1rem;
  background-color: var(--primary-red);
  color: white;
  border: none;
  margin-right: 4rem;
  font-family: Louis George Cafe;
}
.searchWrapper {
  position: absolute;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  border: none;
  margin: 1rem 0;
  padding: 0 .5rem;
  /* border: solid red 2px; */
}
.searchIcon, .searchIconExpanded {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: solid white 2px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  padding: 10px;
}
.searchIcon:hover {

}
.searchIconExpanded {
  background-color: var(--primary-red);
}
.searchBar, .searchBarExpanded {
  height: 40px;
  margin: 0 .25rem;
  z-index: 1;
}
.searchIcon:hover, .searchIconExpanded:hover {
  cursor: pointer;
}
.searchBar {
  position: relative;
  width: 40px;
  min-width: 0px;
  border-radius: 50%;
  padding: 5px;
  text-align: left;
  outline: none;
  transition: width 0.4s ease-in-out, border-radius 0.1s ease-in-out 0.3s, background-color 0.4s;
  background-color: var(--primary-red);
  color: var(--primary-red);

}
.searchBarExpanded {
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  padding: 0 5px 0 50px;
  border: none;
  border-radius: 20px;
  transition: width 0.4s ease-in-out,  background-color 0.4s ease-in-out 0.3s ;
  border: solid white 2px;
  z-index: 1;
  border: none;
  background-color: white;;
  /* border: solid red 2px; */
}
.searchBar:hover {
  cursor: pointer;

}
.searchBar::placeholder {
  color: transparent;
}
.searchButton {
  display: none;
}
.searchBarExpanded::-webkit-search-cancel-button {
  -webkit-appearance: none; /* Remove default appearance */
  /* appearance: none; */
  height: 20px; /* Set the height */
  width: 20px; /* Set the width */
}



@media(max-width: 768px) {
  .mainWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: .5rem 0 .5rem 1rem;
    animation: none;
    left: 0;
    animation: slideUpNoCenter 2s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: solid red */
  }
  .searchBarExpanded {
    /* border: solid green 2px; */
    width: calc(100% - 5vw)
  }
  .filterSelect {
    width: calc(100% - 30vw);
    right: 1rem;
  }
}