@keyframes scrollSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollMedium {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollFast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.homeWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.introContainer {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 350px;
  /* background: rgba(255, 255, 255, .8); */
  /* background: var(--mobile-background); */
  color: white;
  font: 2rem 'Louis George Cafe';
  font-weight: normal;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border: solid 6px rgb(255, 255, 255);
  backdrop-filter: blur(10px) grayscale(100%);
  padding: 2rem 0 0 2rem;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
}
.introContainer:hover {
  cursor: pointer;
}
.introContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 129, 181, .85) 0%, rgba(0, 78, 109, .85) 100%);
  background: linear-gradient(to left, rgba(0, 113, 157, 0.85) 0%, rgba(0, 60, 84, 0.85) 100%);

  transition: background 2s ease;
}
.animationPlaceholder {
  width: 150px;
  height: 150px;
}
.desktopLogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

}
.mobileLogo {
  display: none;
}
.whiteBackground {
  /* background-color: rgb(202, 202, 202); */
  /* background: linear-gradient(to left, rgb(0, 129, 181), rgb(0, 78, 109)); */

  transition: background 2s ease;
  overflow: hidden; /* Ensures the pseudo-element does not extend outside */
  color: white;
  box-shadow: none;
}
.fadeInFromWhite {
  transition: background 2s ease;
  /* background: linear-gradient(to left, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)); */

}

.loadingBarContainer {
  width: 400px;
  height: 8px;
  border: solid white 1px;
}
.loadingBar {
  height: 100%;
  max-width: 100%;
  background-color: red;
  border-radius: 2px;
  /* transition: width 0.3s ease; */
}
.loadingBarContainer p {
  text-align: center;
  font-weight: 200;
}
/* .whiteBackground::after {
  content: '';
  background-image: url('/images/overheadSmall.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px);
  opacity: 0.2;
} */
.logo {
  position: relative;
  width: 75%;
  /* margin: 4rem 2rem 0 0; */
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, .8)) brightness(1.2);

}
.enterButton, .enterButtonBlack, .animationPlaceholder {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  z-index: 10;
}
.enterButtonBlack {
  color: black;
}
.enterButton:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
.clickToSkip {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  text-align: center;
  padding: 0 1rem;
  color: black;
  font-size: 1.5rem;
}
.galleryWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: .5rem;
  margin-bottom: 0;
}
.imageRow {
  box-sizing: border-box;
  display: flex;
  height: calc(33.33% - .5rem);
  white-space: nowrap;
  overflow:visible;
  width: 200vw;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: .5rem 0
}
.image {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform-origin: center;
  position: relative;
  margin: 0 .25rem;
  border: solid white 6px;
  border-radius: 5px;
  z-index: 5;
}
.imageRow:nth-child(1) {
  animation: scrollSlow 30s linear infinite;
}
.imageRow:nth-child(2) {
  animation: scrollMedium 45s linear infinite;
}
.imageRow:nth-child(3) {
  animation: scrollFast 37s linear infinite;
}

.hoveredImage {
  z-index: 10; /* This will be applied on hover via React state */
  transform: scale(1.1); /* Ensure this matches your desired hover effect */
  cursor: pointer;
  border: solid rgb(255, 255, 255) 6px;
  border-radius: 5px;
  transform-origin: center;
  /* outline: solid white 5px; */
}
.hoveredRow {
  z-index: 15; /* Ensure this is higher than the z-index of unhovered rows and images */
}
.hiddenImage {
  opacity: 0;
}
.fadeIn {
  animation: fadeInAnimation 2s ease-out;
}
.mobileLogo{
  display: none;
}
.boxShadowOverlay {
  position: absolute;
  border: solid red 2px;
  z-index: 5000;
}
@media(max-width: 768px) {
  .introContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 275px; /*any less and the logo will move off-center*/
    /* border: solid rgb(255, 0, 0) 4px; */
    padding: 2rem;
    width: 70vw;
  }
  .loadingBarContainer {
    width: 80%;
  }
  .fadeInFromWhite {

  }
  .mobileLogo {
    display: inline-block;
  }
  .desktopLogoContainer {
    display: none;
  }
  .logo {
    display: none;
  }
  .mobileLogo{
    display: block;
    width: 80%;
    max-width: 150px;
  }
  .introImage {
    width: 90%;
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: solid red 2px;
  }
  .enter {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    /* border: solid white 2px; */
  }
  .enter:hover {
    cursor: pointer;
    background-color: rgb(34, 171, 240);
    padding: 1rem;
    border-radius: 10px;
  }
  .homeWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}