@keyframes scrollSlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollMedium {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollFast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.homeWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.introContainer {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.85);
  color: white;
  font: 2rem 'Louis George Cafe';
  font-weight: normal;
  /* width: 700px; */
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  border: solid 10px rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  padding: 2rem 0 0 0;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.7);
}
.introContainer * {
  /* transform: skew(10deg); */
}
.introContainer:hover {
  cursor: pointer;
}
.whiteBackground {
  background-color: rgba(255, 255, 255, 0.95); /* White overlay with transparency */
  overflow: hidden; /* Ensures the pseudo-element does not extend outside */
}
.whiteBackground::after {
  content: '';
  background-image: url('/images/loadingBackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(8px); /* Adjust the blur level as needed */
  opacity: 0.2; /* Adjust for desired visibility under the white overlay */
}
.logo {
  position: relative;
  width: 75%;
  margin: 4rem 2rem 0 0;
  padding: 0;
}
.enterButton {
  padding: .5rem;
  margin: 1rem 0 3rem 0;
  font-size: 2rem;
  font-weight: normal;
  color: black;
}
.enterButton:hover {
  cursor: pointer;
  background-color: rgb(34, 171, 240);

}
.clickToSkip {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  text-align: center;
  padding: 0 1rem;
  color: black;
  font-size: 1.5rem;
}
.galleryWrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: .5rem;
  margin-bottom: 0;
}
.imageRow {
  box-sizing: border-box;
  display: flex;
  height: calc(33.33% - .5rem);
  white-space: nowrap;
  overflow:visible;
  width: 200vw;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: .5rem 0
}
.image {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform-origin: center;
  position: relative;
  margin: 0 .25rem;
  border: solid white 6px;
  border-radius: 5px;
  z-index: 5;
}
.imageRow:nth-child(1) {
  animation: scrollSlow 30s linear infinite;
}
.imageRow:nth-child(2) {
  animation: scrollMedium 45s linear infinite;
}
.imageRow:nth-child(3) {
  animation: scrollFast 37s linear infinite;
}

.hoveredImage {
  z-index: 10; /* This will be applied on hover via React state */
  transform: scale(1.1); /* Ensure this matches your desired hover effect */
  cursor: pointer;
  border: solid rgb(255, 255, 255) 6px;
  border-radius: 5px;
  transform-origin: center;
  /* outline: solid white 5px; */
}
.hoveredRow {
  z-index: 15; /* Ensure this is higher than the z-index of unhovered rows and images */
}
.hiddenImage {
  opacity: 0;
}
.fadeIn {
  animation: fadeInAnimation 2s ease-out;
}
.logo {
  width: 75%;
  margin-left:2rem;
  margin-top: 0;
  padding: 0;
}
.mobileLogo{
  display: none;
}


.boxShadowOverlay {
  position: absolute;
  border: solid red 2px;
  z-index: 5000;
}

@media(max-width: 768px) {
  .introContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* right: 10vw; */
    /* width: 80vw; */
    /* height: 50vh; */
    border: none;
    padding: 2rem;
  }
  .logo {
    display: none;
  }
  .mobileLogo{
    display: block;
    width: 80%;
    max-width: 100px;
  }
  .introImage {
    width: 90%;
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: solid red 2px;
  }
  .enter {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    /* border: solid white 2px; */
  }
  .enter:hover {
    cursor: pointer;
    background-color: rgb(34, 171, 240);
    padding: 1rem;
    border-radius: 10px;
  }
  .homeWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}