.previewWrapper {
  width: 100%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: dashed black 2px;
  border-radius: 10px;


}
.photoPreviewContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.photoWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.photoInput {
  margin: 1rem;
}
.photoPreview {
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
}
.photoTitle {
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(0, 95, 168);
}
.photosGrid {
  display: grid;
  gap: 10px; /* Adjust as needed */
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.photosGridSingle {
  grid-template-columns: repeat(1, 1fr);
}

.photosGridTwoColumns {
  grid-template-columns: repeat(2, 1fr);
}

.photosGridThreeColumns {
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Using minmax for more flexibility */
}

.gridPhotoContainer {
  /* margin: 1rem; */
  box-sizing: border-box;

}

.carouselWrapper {
  margin: 4rem;
}
.gridPhoto {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
}
.icon {
  padding: .5rem;
  border-radius: 4px;
  margin: .5rem;
}

.selectedIcon {
  background: rgb(101, 191, 255);
  padding: .5rem;
  border-radius: 4px;
  margin: .5rem;
}
.icon:hover {
  cursor: pointer;
}
.carouselSlide {
  position: relative;
}
.carouselCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* Ensures full width */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 10px;
  font-size: 1em;
  z-index: 2; /* Ensure it's above the image */
}
.titleInput, .captionInput {
  width: 80%;
  font-size: 1rem;
  margin: 1rem;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
}
.captionInput {
  width: 80%;
}
.noPhotoMessage {
  width: 100%;
}
.removePhotoIcon {
  background-color: rgba(0, 0, 0, .5);
  margin: .25rem;
  padding: .25rem;
  border-radius: 4px;
  color: rgb(254, 93, 120);
  position: absolute;
  top: 1rem;
  right: 0;
  width: 25px;
  height: 25px;
}
.removePhotoIcon:hover {
  cursor: pointer;
}