.layoutWrapper {
  /* border: solid red 2px; */
  width: 100%;
}

.layoutGrid {
  display: flex;
  flex-direction: row;
  /* border: solid red 2px; */
  min-height: 10px;
  width: 100%;
}
.layoutColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;

  /* background: rgb(255, 255, 255); */
  flex: 1;
  align-items: center; /*layout items are centered by default*/
  justify-content: center;
  /* border: solid rgb(0, 255, 8) 2px; */
}
.selectHandle {
  width: 40px;
  height: 40px;
  border: solid black 2px;
}
.addContentIcon {
 width: 100%;
 height: 100%;
}
.selectChoicesWrapper {
  display: flex;
  flex-direction: row;
}
.layoutColumn :global(.p-editor-toolbar) {

  left: -50%;
  width: 550px;
  z-index: 100;
  border-radius: 2px !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
  /* position: absolute !important; */
  transform: scale(1.2)
}
.resetBlockIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px;
  margin: 2px;
  background: rgba(0, 0, 0, .3);
  color: rgb(255, 56, 56);
  width: 20px;
  height: 20px;
  z-index: 100;
}
.resetBlockIcon:hover {
  cursor: pointer;
}