.videoBlockWrapper {
  position: relative;
  /* border: dashed black 2px; */
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtubeVideoWrapper {
  position: relative; /* Added position relative */
  width: 100%;
  height: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.youtubeVideoWrapper iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
/* for a separate button if necessary */
.videoInputWrapper {

}
.videoInput {
  position: relative;
  width: 400px;
  margin: 0 auto;
  font-size: 1rem;
  margin: 0 1rem 0 1rem;
  padding: .5rem;
  border-radius: 4px;
  border: solid rgb(67, 67, 67) 2px;
}
.noVideoMessage {
  width: 100%;
}
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0); /* Adjust the color and opacity as needed */
  cursor: move; /* Indicates that the element is draggable */
  z-index: 10; /* Ensure it's above the iframe */
}

.blockControls {
  position: absolute;
  color: white;
  height: 65px;
  top: -75px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  margin: 0;
  padding: 0 1rem 0 1rem;
}
.blockControls .fa {
  cursor: pointer;
  margin: 5px;
}
.iconTrash, .iconStatus {
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 30px;
  width: 30px;
  padding: .5rem !important;
  border-radius: 50%;
  padding: .25rem;
  margin: .35rem;
}
.iconTrash {
  color: rgb(255, 107, 107);
}
.iconUp:hover, .iconTrash:hover, .iconDown:hover, .iconStatus:hover {
  cursor: pointer;
  transform: scale(1.3);
  /* background-color: rgb(23, 197, 255); */
  transition: transform .3s ease-in-out, color .3s ease-in-out;
}
.iconStatus {
  width:25px;
  height:25px;
}
.iconTrash {
  /* color: red; */
  height: 25px;
  width:25px;
}