.videoBlockWrapper {
  position: relative;
  border: dashed black 2px;
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtubeVideoWrapper {
  position: relative; /* Added position relative */
  width: 100%;
  height: 100%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.youtubeVideoWrapper iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
/* for a separate button if necessary */
.videoInputWrapper {

}
.videoInput {
  position: absolute;
  top: -50px;
  width: 80%;
  margin: 0 auto;
  font-size: 1.25rem;
  padding: .25rem;
  border-radius: 4px;
  border: solid rgb(67, 67, 67) 2px;
}
.noVideoMessage {
  width: 100%;
}
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* Adjust the color and opacity as needed */
  cursor: move; /* Indicates that the element is draggable */
  z-index: 10; /* Ensure it's above the iframe */
}