.croppablePhotoWrapper {
  display: block;
  /* margin-bottom: 1rem; */
  /* outline: solid red 2px; */
  padding: 0;
  min-height: none;
  overflow: hidden;
}
.croppablePhotoWrapper * {
  box-sizing: border-box;
}
.croppableImage {
  margin: 0;
  padding: 0 !important;
  display: block;
  width: 100%;
  overflow: hidden;
  max-height: 50vh;
  overflow: hidden;
}
.saveCropButton {
  margin: 1rem;
  background-color: rgb(0, 112, 156);
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  /* font-weight: bold; */
}
.saveCropButton:hover {
  cursor: pointer;
}