.adminHomeTitle {
  margin: 2rem;
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1200px;
}
.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(228, 228, 228); */
  background-color: rgb(255, 255, 255);

  margin: 1rem 1rem;

}
.sectionWrapper p {
  font-size: 1.25rem;
}
.titleWrapper {
  position: relative;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  width: 100%;
}
.link {
  color: var(--primary-blue);
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: normal;
  text-align: center;
}
.addIcon {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgb(61, 190, 255);
  color: rgb(255, 255, 255);
  padding: .5rem;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.resumeDraft {
  background-color: rgb(140, 255, 159);
  font-size: 1.25rem;
  border: none;
  padding: .25rem .5rem;
  border-radius: 5px;
}
.resumeDraft:hover {
  cursor: pointer;
  background-color: rgb(6, 201, 255);
}